.edit-menu{
  text-align: center;
  padding-top: 50px;
}

.menu{
  padding-bottom: 10px;
}

.menu a{
  text-decoration: none;
  color: darkgreen;
}

.card-destroy a{
  text-decoration: none;
  color: red;
}

